
.grid {
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
}
.grid1 {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}
.grid2 {
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
    margin-left: 5%;
}
nav{
    max-height: 5%;
    margin-bottom: 3%;
    position: fixed;
    z-index: 1;
}
.nav {
    
    border: 2px outset white;
    margin: 0.5%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 1.3rem;
    background-color: rgba(52, 3, 50, 0.862);
    box-shadow: 15px 15px 5px rgba(42, 57, 70, 0.477);
    border: 2px outset white;
    border-radius: 1.2rem;
    padding: 0.3rem;
     
}
body {
    color: white;
    width: auto;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 40%;
    background-image: url();
    background-color: rgba(18, 18, 140, 0.593);
    image-rendering: optimizeSpeed;
}
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(42, 57, 70, 0.477);
    border: 4px outset white;
    border-radius: 1.2rem;
    animation: hue 8s infinite linear;
    box-shadow: 15px 15px 5px  rgba(40, 42, 46, 0.568),
    15px 15px 5px  rgba(77, 87, 40, 0.664),
    15px 15px 5px  rgba(42, 140, 127, 0.664);
    font-size: 1.4rem;
    margin-left: 5%;
    margin-right: 5%;
}

h2  {

    background-color: rgba(55, 17, 17, 0.423);
    text-align: center;
    box-shadow: 15px 15px 5px  rgba(40, 42, 46, 0.511),
    15px 15px 5px  rgba(77, 87, 40, 0.664),
    15px 15px 5px  rgba(42, 140, 127, 0.664);
    width: 60%;
    height: 20%;
    border: 2px outset white;
    border-radius: 1.2rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}

p {
    background-color: rgba(16, 47, 19, 0.398);
    border: 2px outset white;
    border-radius: 1.2rem;
    box-shadow: 15px 15px 5px  rgba(40, 42, 46, 0.572),
    15px 15px 5px  rgba(77, 87, 40, 0.664),
    15px 15px 5px  rgba(42, 140, 127, 0.664);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
p:hover, p:active, .div:hover, .div:active {
    transform:translateY(-3%);
    box-shadow: 15px 15px 5px 3px #8f75d8a4;
    transition-delay: 0.07s;
    transition: ease-out;
}
.nav:hover, .nav:active {
    transform:translateY(-3%);
    box-shadow: 15px 15px 5px 3px #2f2645a4;
    
    transition: ease-out;
}
nav:hover, nav:active {
    transform:translateY(-5%);
    
    transition: ease-out;
}
.div {
    background-color: rgba(42, 57, 70, 0.477);
    border: 2px outset white;
    border-radius: 1.2rem;
    box-shadow: 15px 15px 5px 3px rgba(51, 48, 48, 0.7);
    padding: 0.4rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#title {
    margin-top: 4%;
    margin-bottom: 3%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: -1px 2px 2px rgb(0, 255, 136),
                 1px 2px 2px rgb(0, 238, 255),
                 2px 2px 2px rgb(0, 166, 255);    transform: translateY(-15%);
    font-size: 2.9rem;
}
form {
    background-color: rgba(55, 17, 17, 0.423);
    padding: 2%;
    box-shadow: 15px 15px 5px  rgba(40, 42, 46, 0.511),
    15px 15px 5px  rgba(77, 87, 40, 0.664),
    15px 15px 5px  rgba(42, 140, 127, 0.664);
    width: 60%;
    height: 130%;
    border: 2px outset white;
    border-radius: 1.2rem;
    margin-left: 20%;
    margin-right: 5%;
    
}
label {
    margin-left: 5%;
    margin-right: 10%;
}
input {
    margin-left: 5%;
    margin-right: 10%;
}
.img {
    width: 100%;
    height: 100%;
}
.flow1 {
    height: 75%;
    margin-left: 10%;
    margin-right: 10%;
}
footer {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    background-color: rgba(13, 87, 67, 0.567);
    border: 2px outset white;
    border-radius: 1.2rem;
    box-shadow: 15px 15px 5px  rgba(40, 42, 46, 0.572),
    15px 15px 5px  rgba(77, 87, 40, 0.664),
    15px 15px 5px  rgba(42, 140, 127, 0.664);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-decoration: none !important;
    animation: hue 8s infinite linear;
}
a, a:visited, a:hover {
    color: white;
    text-decoration: none ;
}
a:hover {
    color: white;
    text-decoration: none;
    text-shadow: -1px 2px 2px red,
                 1px 2px 2px orange,
                 2px 2px 2px yellow;
    transform: translateY(-2%);
}
@media (max-width: 396px) {
    main, form {
        max-width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
}